.gorra {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 200px;
}

.gorra img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gorra p{
    text-align: center;
    text-decoration: none;
    color: black;
}